ul.wishList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

ul li.wishCard {
    margin-top: 20px;
    width: 30%;
    border: 1px solid gray;
    border-radius: 15px;
    background: darkseagreen;
    color: white;
}

button:first-child {
    margin-left: 10px;
}
  
.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}