ul {
    display: flex;
    justify-content: center;
}

li {
    margin-right: 20px;
}

li a {
    text-decoration: none;
    color: lightgray;
}

li a:hover {
    color: gray;
}

li img {
    vertical-align: middle;
}

nav {
    margin-top: 0px;
    width: 100%;
    background-color: white;
    color: lightgray;
    font-family: 'Mountains of Christmas';
    border-bottom: 1px lightgray solid;
}

.clicked {
    color: gray;
    text-decoration: underline;
}