.header {
    background-color: #fcfefc;
    min-height: 35vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: calc(12px + 2vmin);
    color: lightgray;
}

.logo {
    height: 35vmin;
    pointer-events: none;
  }