@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');

@media only screen and (max-width: 800px) {
    .social {
        width: 60% !important;
    }
  }

.footer {
    border-top: 1px lightgray solid;
    background-color: #fcfefc;;
    margin-top:50px;
    min-height: 50vh;
    font-family: 'Mountains of Christmas';
    font-size: 24px;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.social {
    display: flex;
    justify-content: space-evenly;
    width: 20%;
    margin-top: 2em;
    margin-bottom: 1em;
}

a {
    text-decoration: none;
    color: gray;
}

a :hover {
    color: #e55546;
}