@media only screen and (max-width: 500px) {
    .contact {
        width: 80% !important;
    }
  }
  
  .contact {
    width: 25%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    word-break: break-word;
}

.contact img {
    width: 100%;
}

.contact p {
    color: gray;
}

.contact a:hover {
    color: #e55546;;
}

article {
    border: 1px gray dashed;
    width: fit-content;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}