@media only screen and (max-width: 500px) {
    .contact {
        width: 80% !important;
    }
  }
  
  .contact {
    width: 30%;
    margin: auto;
    margin-bottom: 100px;
    word-break: break-word;
}

.contact img {
    width: 100%;
}

.contact p {
    color: gray;
}

.contact a:hover {
    color: #e55546;;
}