.contact {
    width: 45%;
    margin: auto;
    margin-bottom: 100px;
}

.contact img {
    width: 100%;
    margin-bottom: -110px;
}

.contact p {
    color: gray;
}

.attribution {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}