@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap');

h1 {
    font-family: 'Mountains of Christmas';
}

.wishItem {
    display: flex;
    align-items: center;
    font-family: 'Mountains of Christmas';
    font-size: calc(9px + 2vmin);
    width: 80%;
    margin: 0 auto;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
}

.wishCard {
    margin-top: 20px;
    width: 50%;
    border: 1px solid gray;
    border-radius: 15px;
    background: darkseagreen;
    color: white;
}

h3.wishItem {
    border-bottom: 1px solid gray;
}

h4{
    border-bottom: 1px white dashed;
}

.text {
    background: white;
    min-height: 200px;
    padding: 10px;
    margin: 20px;
    color: gray;
    border-radius: 13px;
    max-height: 200px;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
}

.votes {
    position: relative;
  text-align: center;
  color: white;
}

.votes img {
    width: 30%;
}

.centeredImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: calc(20px + 2vmin);
  }

button {
    border: none;
    color: gray;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
  }

.statistics {
    width: 30%;
}

.statistics ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.wishImageDetails {
    height: 350px;
}

.img {
    width: 95%;
    height: 95%;
    object-fit: cover;
}